

table, td {
  border: 1px black solid;
}

#chess td {
  height: 50px;
  width: 50px;
}

img {
  /* height: 30px; */
  /* width: 30px; */
}

#chess {
  background: #8B4513;
  margin-left:auto;
  margin-right:auto;
}

#chess tr:nth-child(odd) > td:nth-child(odd), #chess tr:nth-child(even) > td:nth-child(even) {
  background: #F5DEB3;
}

#chess tr:nth-child(odd) > td:nth-child(even), #chess tr:nth-child(even) > td:nth-child(odd) {
  background: #A52A2A;
}

.piece {
  cursor: pointer;
}
